html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  font-size: 1.9rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  user-select: none;
  box-shadow: -1px 0px 11px 4px #666262;
  border-radius: 5px;
}
nav ul li a:hover {
  color: black;
  background: rgb(226, 223, 223);
}

button {
  user-select: none;
  box-shadow: 1px -1px 20px 16px #29292c;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
}
button:hover {
  background: rgb(29, 29, 28);
  color: white;
  transform: scale(1.05);
  border-radius: 30px;
}
/* ...........Header............. */
header {
  background: black;
  color: white;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10px;
  position: fixed;
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* ............Main............ */
.top {
  background: url(./img/Logo.png) fixed center/cover;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px 100px;
  color: white;
}
.top p {
  margin-top: 60px;
  font-weight: 1000;
 box-shadow: 0px 0px 20px 3px #958a8a;
}
.top-milieu button {
  margin-top: 60px;
  padding: 20px;
}
.top-center {
  text-align: center;
  padding: 20px;
}
.top-center p {
  margin-top: 20px;
}
.top-botton {
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 50px 0;
}
.top-botton2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}
.top-botton2 button a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2rem;
  color: black;
}
.top-botton2 button {
  padding: 50px 20px;
  text-transform: capitalize;
  font-size: 2rem;
  border-radius: 20px;
}
/* .................footer............ */
footer {
  text-align: center;
  padding: 20px;
}

/* ............Responsive........... */
@media (max-width: 779px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .liste{
    margin-top: 10px;
  }
  nav ul li a{
    
    font-size: 1rem;
    font-weight: 800;
  }
  .top{
    padding-bottom: 10px;
  }
  .top-botton2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .top-botton2 button{
    padding: 50px 100px;
  }
}
