@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url(../fonts/OpenSans_Condensed-Italic.ttf);
  font-weight: 500;
}
body {
  background: linear-gradient(202deg, rgb(58, 55, 112) 77%, rgb(10, 10, 122) 90%, rgb(0, 212, 255) 100%);
}

a {
  text-decoration: none;
  color: rgb(150, 138, 138);
}

header {
  min-height: 100vh;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 1140px) {
  header {
    height: auto;
  }
}
header .header-top {
  padding-top: 20px;
  height: 10Vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
header .header-top address {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.959);
  font-style: normal;
  line-height: 1.5;
}
header .header-center {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: rgba(255, 255, 255, 0.959);
}
header .header-center .header-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../img/469218025_2867263606757805_2181642583290175945_n.jpg) center/cover;
}
header .header-center .header-info h1 {
  font-size: 5rem;
}
@media (max-width: 1140px) {
  header .header-center .header-info h1 {
    font-size: 2rem;
  }
}
header .header-center .header-info p {
  font-size: 3rem;
}
@media (max-width: 1140px) {
  header .header-center .header-info p {
    font-size: 1rem;
  }
}
header .header-bottom {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
header .header-bottom::after {
  content: "↓";
  display: block;
  position: absolute;
  top: -150%;
  left: 50%;
  -webkit-transform: translateX(-50%, -150%);
          transform: translateX(-50%, -150%);
  font-size: 10rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.959);
  -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
  cursor: pointer;
}
@media (max-width: 1140px) {
  header .header-bottom::after {
    font-size: 5rem;
    top: -30px;
  }
}
@-webkit-keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
header .header-bottom .header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .header-bottom .header-social i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.959);
}
@media (max-width: 1140px) {
  header .header-bottom .header-social i {
    font-size: 1.2rem;
  }
}

main {
  height: 100vh;
  width: 90%;
  max-width: 100%;
  margin: 40px auto;
  -webkit-box-shadow: 2px 0px 11px 7px rgb(158, 211, 249);
          box-shadow: 2px 0px 11px 7px rgb(158, 211, 249);
}
main .description {
  height: 20%;
  width: 100%;
  background: rgba(49, 48, 48, 0.575);
  color: rgba(255, 255, 255, 0.959);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .description h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 20px 0;
}
@media (max-width: 1140px) {
  main .description h2 {
    font-size: 1rem;
    margin: 10px 0;
  }
}
main .description p {
  text-align: center;
  font-size: 1.4rem;
}
@media (max-width: 1140px) {
  main .description p {
    font-size: 0.8rem;
    word-spacing: 2px;
  }
}
main .projets {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
  background: rgba(49, 48, 48, 0.575);
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1140px) {
  main .projets {
    padding: 10px;
    gap: 20px;
    grid-auto-rows: 100px;
  }
}
main .projets div {
  cursor: pointer;
  aspect-ratio: 2/1;
  width: 100%;
  border: none;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}
main .projets div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 1140px) {
  main .projets .helium,
  main .projets .resto,
  main .projets .vitrine,
  main .projets .agence,
  main .projets .voyage {
    grid-row: span 1;
  }
}
main .projets .helium {
  background: url(../img/main.png) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .montaigne {
  background: url(../img/montaigne\ -png.webp) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .resto {
  background: url(../img/div\ resto.webp) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .tesla {
  background: url(../img/voiture\ tesla.webp) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .vitrine {
  background: url(../img/vitrine\ 1.webp) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .cours {
  background: url(../img/div\ cours.webp) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .agence {
  background: url(../img/Agence\ .png) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .hotel {
  background: url(../img/hotel\ \(3\).webp) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .voyage {
  background: url(../img/voyage.png) center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .projets .mode {
  background: url(../img/mode.png) center;
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  background: rgba(49, 48, 48, 0.575);
  color: rgba(255, 255, 255, 0.959);
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
footer p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
@media (max-width: 1140px) {
  footer p {
    font-size: 1rem;
  }
}
footer i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.959);
}
@media (max-width: 1140px) {
  footer i {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=index.css.map */