* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Italic";
    src: url(../fonts/OpenSans_Condensed-Italic.ttf);
    font-weight: 500;
}

$font1: OpenSans, sans-serif;
$font2: OpenSans-Italic, italic;

$white: rgba(255, 255, 255, 0.959);
$black: black;
$black1: rgba(49, 48, 48, 0.575);
$white1: rgb(150, 138, 138);
$background: linear-gradient(202deg,rgba(58, 55, 112, 1) 77%, rgba(10, 10, 122, 1) 90%, rgba(0, 212, 255, 1) 100%);

body{
    background: $background;
}

a {
    text-decoration: none;
    color:$white1;
}
