* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Italic";
    src: url(../fonts/OpenSans_Condensed-Italic.ttf);
    font-weight: 500;
}

$font1: OpenSans, sans-serif;
$font2: OpenSans-Italic, italic;

$white: white;
$black: black;
$black1: rgb(32, 31, 31);
$blue: rgb(28, 28, 66);
$purple: rgb(66, 0, 128);
$green: green;

body{
    background: $blue;
}

a{
    text-decoration: none;
    color: $green;
}