header {
    min-height: 100dvh;
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    @media (max-width: 650px) {
        padding: 10px 0;
    }
    .header-top {
        height: 20dvh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        font-size: 1.3rem;
        padding: 20px 0;
        @media (max-width: 650px) {
            display: none;
        }
        address {
            font-style: normal;
            font-size: clamp(1rem, 1.8vw, 1.5rem);
        }
        .header-social {
            display: flex;
            gap: 20px;
            i {
                color: $white;
                font-size: clamp(1rem, 1.8vw, 1.5rem);
                transition: all 0.3s ease;
            }
            i:hover {
                transform: scale(1.2);
                color: $white1;
            }
        }
    }
    .header-center {
        min-height: 70dvh;
        color: $white;
        @keyframes descente {
            0% {
                transform: translateY(-100px);
                opacity: 0;
            }
            60% {
                transform: translateY(10px);
                opacity: 1;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .header-center1 {
            height: 25dvh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            animation: descente 2s ease-out forwards;
            .header-img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid #333;
                background: url(../img/469218025_2867263606757805_2181642583290175945_n.jpg) center/cover;
            }
            .header-info {
                h1 {
                    font-size: clamp(1rem, 2.1vw, 2rem);
                }
                .cv-download-btn {
                    display: inline-block;
                    margin-top: 20px; /* Ajoute de l'espace au-dessus du bouton */
                    padding: 10px 20px;
                    background-color: #007bff; /* Couleur de fond (Bleu typique) */
                    color: white; /* Texte blanc */
                    text-decoration: none; /* Supprime le soulignement du lien */
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 1rem;
                    transition: background-color 0.3s ease; /* Animation fluide au survol */
                    border: 2px solid #007bff;
                }
                .cv-download-btn:hover {
                    background-color: #0056b3; /* Couleur plus foncée au survol */
                    border-color: #0056b3;
                }
                .cv-download-btn i {
                    margin-left: 8px; /* Espacement entre le texte et l'icône de téléchargement */
                }
            }
        }
        .description {
            height: 40dvh;
            width: 100%;
            max-width: 2000px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            @media (max-width: 650px) {
                height: 60vh;
            }
            h2 {
                text-transform: uppercase;
                margin: 10px 0;
                font-size: clamp(1rem, 2.1vw, 2rem);
            }
            p {
                color: $white;
                font-size: clamp(1.2rem, 2vw, 1.5rem);
                line-height: 1.4;
            }
        }

        .header-bottom {
            margin-top: 0;
            height: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: $white;
                margin-bottom: 20px;
                font-size: clamp(1rem, 2.1vw, 2rem);
            }
            i {
                cursor: pointer;
                font-size: 2rem;
                color: $white1;
                animation: bounce 1s infinite;
                @keyframes bounce {
                    0%,
                    100% {
                        transform: translateY(0);
                    }
                    50% {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
}
