main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    background: $black1;
    padding: 20px;
    align-items: center;
    box-shadow: 1px 1px 15px 6px #999292;
    div{
        height: 80%;
        width: 80%;
        max-width: 2000px;
    }
    .helium{
        background: url(../img/main.png) center /cover;
        
    }
    .montaigne{
        background: url(../img/montaigne\ -png.webp) center /cover;
        
    }
    .resto{
        background: url(../img/div\ resto.webp) center /cover;
    }
    .tesla{
        background: url(../img/voiture\ tesla.webp) center /cover;
    }
    .vitrine{
        background: url(../img/vitrine\ 1.webp) center /cover;
    }
    .cours{
        background: url(../img/div\ cours.webp) center /cover;
    }
    .agence{
        background: url(../img/Agence\ .png) center /cover;
    }
    .hotel{
        background: url(../img/hotel\ \(3\).webp) center /cover;
    }
    .voyage{
        background: url(../img/voyage.png) center /cover;
    }
    .mode{
        background: url(../img/mode.png) center /cover;
    }
}