main {
    min-height: 100dvh;
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    background: $black1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    div {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 16/9;
        cursor: pointer;
        transition: transform 0.4s ease, filter 0.3s ease;
    }
    div:hover {
        transform: scale(1.3); 
        filter: brightness(1.1);
    }
    .helium {
        background-image: url(../img/main.png);
    }
    .montaigne {
        background-image: url(../img/montaigne\ -png.webp);
    }
    .resto {
        background-image: url(../img/div\ resto.webp);
    }
    .tesla {
        background-image: url(../img/voiture\ tesla.webp);
    }
    .vitrine {
        background-image: url(../img/vitrine\ 1.webp);
    }
    .cours {
        background-image: url(../img/div\ cours.webp);
    }
    .agence {
        background-image: url(../img/Agence\ .png);
    }
    .hotel {
        background-image: url(../img/hotel\ \(3\).webp);
    }
    .voyage {
        background-image: url(../img/voyage.png);
    }
    .mode {
        background-image: url(../img/mode.png);
    }
    .gaming{
        background-image: url(../img/gaming.png);
    }
}
