main {
    min-height: 100dvh;
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    background: $black1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    div {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 16/9;
        cursor: pointer;
        transition: transform 0.4s ease, filter 0.3s ease;
    }
    div:hover {
        transform: scale(1.3); 
        filter: brightness(1.1);
    }
    .helium {
        background-image: url(../img/main.png);
    }
    .montaigne {
        background-image: url(../img/montaigne\ -png.webp);
    }
    .resto {
        background-image: url(../img/div\ resto.webp);
    }
    .scroll {
        background-image: url(../img/transparent-brown-scroll.png);
    }
    .gaming{
        background-image: url(../img/gaming.png);
    }
    .MDP{
        background-image: url(../img/6671894.png);
        
    }
    .Reservation{
        background-image: url(../img/5679222.png);
    }
    .Loging{
        background-image: url(../img/pngtree-heart-broken-man-png-image_11461134.png);
    }
}
